{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | create wish
{% endblock %}

{% block body %}

    {{ form_start(wishForm) }}

    {{ form_widget(wishForm) }}

    <button>Create</button>
    {{ form_end(wishForm) }}
{% endblock %}

