{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        {% for w in wishes %}
            <li><a href="{{ path('wish_detail', {'id' : w.id}) }}">{{ w.title }}</a> </li>
        {% endfor %}

    </ul>



{% endblock %}

{% block title %}
    {{ parent() }} | wish list

{% endblock %}

