{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        <li>Obtenir un stage</li>
        <li>Escalader l'Everest</li>
        <li>Avoir son titre</li>
    </ul>



{% endblock %}

{% block title %}
    {{ parent() }} | wish list

{% endblock %}

